@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .themes[data-theme='light'] {
    --colour-grey-50: #eee;
    --colour-grey-100: #ddd;
    --colour-grey-200: #d5d5d5;
    --colour-grey-300: #bbb;
    --colour-grey-400: #999;
    --colour-grey-500: #888;
    --colour-grey-600: #777;
    --colour-grey-700: #666;
    --colour-grey-800: #555;
    --colour-grey-900: #444;
    --colour-grey-900: #333;
    --colour-grey-950: #222;

    /* --colour-primary: ;
    --colour-secondary: 111 114 185; */
  }
  .themes[data-theme='dark'] {
    --colour-grey-50: #111;
    --colour-grey-100: #222;
    --colour-grey-200: #282828;
    --colour-grey-300: #444;
    --colour-grey-400: #555;
    --colour-grey-500: #666;
    --colour-grey-600: #777;
    --colour-grey-700: #888;
    --colour-grey-800: #aaa;
    --colour-grey-900: #bbb;
    --colour-grey-900: #ccc;
    --colour-grey-950: #eee;

    /* --colour-primary: 255 115 179;
    --colour-secondary: 111 114 185; */
  }
  .themes[data-theme='oled'] {
    --colour-grey-50: #000;
    --colour-grey-100: #000;
    --colour-grey-200: #0a0a0a;
    --colour-grey-300: #222;
    --colour-grey-400: #444;
    --colour-grey-500: #555;
    --colour-grey-600: #777;
    --colour-grey-700: #aaa;
    --colour-grey-800: #ccc;
    --colour-grey-900: #ddd;
    --colour-grey-900: #eee;
    --colour-grey-950: #fff;
    
    /* --colour-primary: 255 115 179;
    --colour-secondary: 111 114 185; */
  }
}

::-webkit-scrollbar {
  width: 1rem;
} ::-webkit-scrollbar-track {
  padding: 0.1rem;
  background: var(--colour-grey-100);
} ::-webkit-scrollbar-thumb {
  background: var(--colour-grey-300);
  border: 0.25rem solid var(--colour-grey-100);
  border-radius: 1rem;
}

nav li a.active {
  background-color: var(--colour-grey-200);
  color: var(--colour-grey-950);
  font-weight: 600;
}

.h-svh-neg-title {
  height: calc(100svh - 3rem);
}