:root {
    /* background colours */
    --colour-background-500: #0b0b0b;
    --colour-background-400: #0f0f0f;
    --colour-background-300: #1e1e1e;
    --colour-background-200: #212121;
    --colour-background-100: #2e2e2e;

    /* primary colours */
    --colour-primary-900: #080311;
    --colour-primary-800: #0F0622;
    --colour-primary-700: #140A37;
    --colour-primary-600: #1c0d42;
    --colour-primary-500: #5c27ce;

    /* text colours */
    --colour-text-500: #ffffff;
    --colour-text-400: #b9b9c3;
    /* --colour-text-300: #1e1e1e; */
    /* --colour-text-200: #212121; */
    /* --colour-text-100: #2e2e2e; */

    /* font stuff */
    --ff: "Barlow", sans-serif;
    --h1: bold 64px/75px var(--ff);
    --h2: bold 48px/60px var(--ff);
    --h3: bold 36px/45px var(--ff);
    --h4: bold 20px/25px var(--ff);
    --h5: bold 16px/20px var(--ff);
    --lp: 20px/25px var(--ff);
    --p: 16px/20px var(--ff);
    --btn: bold 16px/20px var(--ff);
    --btn-sml: bold 14px/17.5px var(--ff);

    /* other stuff */
    --border: 1px var(--colour-background-300) solid;
}

/* @media (prefers-color-scheme: dark) {
    :root {
        background colours
        --colour-background-500: #0b0b0b; 
        --colour-background-400: #0f0f0f; 
        --colour-background-300: #1e1e1e; 
        --colour-background-200: #212121; 
        --colour-background-100: #2e2e2e;
    }
} */

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

h1 {
    font: var(--h1);
    color: var(--colour-text-500);
} h2 {
    font: var(--h2);
    color: var(--colour-text-500);
} h3 {
    font: var(--h3);
    color: var(--colour-text-500);
} h4 {
    font: var(--h4);
    color: var(--colour-text-400);
} h5 {
    font: var(--h5);
    color: var(--colour-text-400);
} p, li {
    font: var(--p);
    color: var(--colour-text-400);
} .lp {
    font: var(--lp);
} a {
    font: var(--p);
    color: var(--colour-text-400);
    text-decoration: none;
} button {
    text-transform: uppercase;
    font: var(--btn);
    color: var(--colour-text-500);
    cursor: pointer;
}

body {
    background-color: var(--colour-background-400);
    min-height: 100dvh;
}

.flex {
    display: flex;
} .flex-column {
    display: flex;
    flex-direction: column;
} .fill-height {
    height: 100%;
}

header nav {
    background-color: var(--colour-background-100);
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px;
}

header nav ul {
    list-style: none;
    gap: 10px;
}

header nav ul li {
    background-color: var(--colour-text-400);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    color: var(--colour-background-300);
}

header nav ul .upload {
    background-color: rgba(from var(--colour-primary-500) r g b / 0.5);
    border-radius: 20%;
}